@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lexend:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=UnifrakturMaguntia&display=swap');

@theme {
  --font-primary: "Outfit", serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  background-color: #0F0F0F;
  color: white;
  font-family: "Outfit", serif;
}